/* write your override styles here */
tag-1.png{
    background: url(../images/tag-1.png);
    display: none;
  }

tag-2.png{
    background: ;
    display: none;
}

tag-3.png{
    display: none;
}

tag-4.png{
    display: none;
}

tag-5.png{
    display: none;
}

tag-6.png{
    display: none;
}

tag-7.png{
    display: none;
}